@model CuciMobilv4.tblDetailPencucian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblDetailPencucian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblHarga.NamaJenisPencucian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblHarga.NamaJenisPencucian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTransaksi.NoKendaraan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTransaksi.NoKendaraan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetail }) |
    @Html.ActionLink("Back to List", "Index")
</p>
